:root {
    --mainColor: #2980B9;
  }

.main-content{
    grid-area: top-post;
    display: flex;
    flex-flow: row wrap;
   
}
.blog-card{
    flex: 3 4 auto;
    align-self: flex-start ;
    margin: auto;
    max-width: 35rem;
    padding: 3rem;
    cursor: pointer;
    border-radius: 8px;
}

.social-link{
    padding: 0.5rem;
    color: var(--mainColor);
}

.social-link {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .5s;
  }
  
  .social-link:hover {
    background-size: 4px 50px;
  }

.blog-img{
    display: block; 
    overflow: hidden;
    object-fit: fill;
     background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
