
:root {
    --mainColor: #95a5a6;
  }


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section>button {
  
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
   transition :all, 0.5s, cubic-bezier(0.65,-0.25,0.25,1.95);
    font-weight: 900;
    color: black;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    background:#3498DB;
    text-transform: uppercase;
  }
  button:hover, button:focus,button:active {
    letter-spacing: 0.1rem;
  }
  
 
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    gap: 6px;
    grid-template-areas:
    "nav nav"
    "top-post top-post "
    "footer footer";
}


.main-content{
    grid-area: top-post;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5rem;
}

.card{
    flex: 3 4 auto;
    margin: 0.5rem 3rem 1rem 4rem;
    text-transform: capitalize;
    max-width: 22rem;
    border: 2px solid #3498DB;
    border-radius: 8px;
    box-shadow: 1px 8px 6px -6px #3498DB;
}

.card:hover{
    box-shadow:
                1px 1px #2980B9,
                1px 1px #2980B9,
                1px 1px #2980B9;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        border: 2px solid #2980B9;
}
.img-caption{
  text-align: center;
}

.card-img{
  display: block; 
    overflow: hidden;
    object-fit: fill;
     background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  
}

.card-body{
    padding: 1rem;
   
}

.card-author{
  text-decoration: underline;
}

.card-date{
  float: right;
}

@media (min-width: 768px) {
  .card{
   margin-left: 12rem;
    max-width: 22rem;
    border: 2px solid #3498DB;
    border-radius: 8px;
    box-shadow: 1px 8px 6px -6px #3498DB;
}

}
