:root {
    --mainColor: #95a5a6;
  }


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section>a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .5s;
  }
  
  a:hover {
    background-size: 4px 50px;
  }
.grid-container{
    min-height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    gap: 6px;
    grid-template-areas:
    "nav nav"
    "top-post top-post "
    "footer footer";
}
header {
  display: flex;
  grid-area: nav;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background: #5B5EA6;
}

.logo {
  margin-right: auto;
  color: white;
  list-style: none;
}

.logo:hover {
  margin-right: auto;
  list-style: none;
  color: #0088a9;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 3px 14px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}


.main-content{
    grid-area: top-post;
    display: flex;
    flex-flow: row wrap;
    
}

.card{
    flex: 3 4 auto;
    margin: 0.5rem 3rem 1rem 4rem;
    max-width: 22rem;
    border: 2px solid #3498DB;
    border-radius: 8px;
    box-shadow: 1px 8px 6px -6px #3498DB;
}

.card:hover{
    box-shadow:
                1px 1px #2980B9,
                1px 1px #2980B9,
                1px 1px #2980B9;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        border: 2px solid #2980B9;
}

.card-img{
  display: block; 
    overflow: hidden;
    object-fit: fill;
     background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  
}

.card-body{
    padding: 1rem;
   
}

.card-date{
  float: right;
}

.footer{
    text-transform: capitalize;
    text-align: center;
    grid-area: footer;
    color: whitesmoke;
    background: #5B5EA6;
}
