.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(30px, auto);
    gap: 6px;
    grid-template-areas:
    "nav nav"
    "top-post top-post "
    "newsletter newsletter"
    "post-1 post-2"
    "post-3 post-4"
    "post-5 post-4"
    "footer footer";
}

.nav-container{
    background: grey;
    grid-area: nav;
    border: 4px solid black;
    display: flex;
    height: 60px;
    flex-flow: row wrap;

}

.nav-items{
    margin: 1rem;
}
.items-right{
   float: right;  
   margin: 1rem;
}

.main-content{
    grid-area: top-post;
    background: grey;
    display: flex;
    align-items:center;
    align-content: flex-start;
    flex-flow: row wrap;
    border: 5px solid black;
}

.card{
    flex: 3 4 auto;
    align-self: flex-start ;
    margin: 0.5rem 3rem 1rem 4rem;
    max-width: 22rem;
    border:3px solid blue;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 6px -6px blue;
}

.card-img{
  display: block; 
    overflow: hidden;
    object-fit: fill;
     background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  
}
.footer{
    grid-area: footer;
    background: grey;
    border: 5px solid black;
}
